name = "btmc-stripe-webhooks"
main = "src/index.js"
compatibility_date = "2023-03-12"

kv_namespaces = [
    { binding = "donos", id = "" }
]

vars = { DISCORD_WEBHOOK_URL = "", DISCORD_WEBHOOK_AVATAR_URL = "", STRIPE_KEY = ""}

[triggers]
crons = ["*/5 * * * *"]

[env.preview]
kv_namespaces = [
    { binding = "donos", preview_id = "", id = "" }
]

vars = {DISCORD_WEBHOOK_URL = "", DISCORD_WEBHOOK_AVATAR_URL = "", STRIPE_KEY = ""}

